/* UNSET BROWSER DEFAULT STYLE */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

*, *:focus, *:hover{
    outline:none;
}

a {
    color: inherit;
	color: unset;
}

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

/*******************************/

* {
    font-family: sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.middle {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    line-height: 64px;
}

.center {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.right {
    text-align: right;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #dfdfef;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    height: 64px;
    color: white;
    background-color: #276e18;
    border-bottom: 4px solid #276e18;
}

.website_head {
	white-space: nowrap;
}

.menu.mobile {
	display: none;
	position: absolute;
	top: 0;
	right: -100%;
	transition: right 1s ease-in-out;
}

.icon-btn {
	white-space: nowrap;
}

.flex {
    display: flex;
}

.flex.horizontal {
    flex-direction: row;
    height: 100%;
}

.flex.horizontal > * {
    flex: 1 0 auto;
}

.flex.vertical {
    flex-direction: column;
}

.horizontal .nav-link {
    padding: 0 20px;
}

.horizontal .nav-link:hover {
    margin-bottom: -4px;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.icon-btn {
    height: 100%;
    width: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-btn > i {
    transition: font-size .1s ease-out;
    font-size: 24px;
}

.icon-btn:hover > i {
    font-size: 18px;
}

.icon-label {
    display: none;
    margin-top: 5px;
    font-size: 14px;
}

.icon-btn:hover > .icon-label {
    display: inline-block;
}

.side {
    position: sticky;
    top: 0;
    float: left;
    width: 20%;
}

.menu.side .vertical {
    width: 60%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid grey;
}

.vertical .nav-link {
    display: inline-block;
    width: 100%;
}

.vertical .nav-link.active {
    text-decoration: underline;
}

.vertical .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.main-body {
    width: 100%;
    height: 100%;
}

.content-container {
    float: right;
    width: 80%;
}

#content {
    padding: 70px 40px;
}

#content > * {
    margin-bottom: 3em;
}

.identity {
    margin: 2em;
}

.catalog-container {
    display: table;
    margin: 50px auto;
}

#catalog {
    margin-bottom: .2em;
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
    
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#catalog th {
	padding: 6px;
    border-bottom: 2px solid black;
    min-width: 80px;
    max-width: 140px;
}

#catalog td {
    padding: 8px 16px;
    border: 1px solid black;
}

#catalog .cover {
    width: 120px;
    border: 1px solid lightgray;
    transition: transform .2s ease;
    backface-visibility: hidden;
}

#catalog .cover:hover {
    transform: scale(1.65);
}

#catalog .prod-ref input {
    border: none;
    display: block;
    text-align: center;
    width: 100%;
}

.cart-plus, .cart-minus {
    cursor: pointer;
    color: #276e18;
}

.add-cart {
    font-size: 18px;
}

.cart-quantity {
    border: none;
    width: 1.5em;
    text-align: center;
}

.stock-btn {
    color: #276e18;
    text-decoration: underline;
}

.cart-ctrl {
    text-align: center;
}

.tab-group {
    width: 30%;
    min-width: 400px;
    margin: 2em auto;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: white;
}

.tab-group .error {
    white-space: nowrap;
    text-align: center;
    color: #c00;
}

.tab {
    display: flex;
    flex-direction: row;
}

.tab-link {
    flex: 1 0 auto;
    border: none;
    border-right: 1px solid lightgray;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    padding: 1em;
}

.tab-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tab-link.active {
    border-bottom: 3px solid #276e18;
}

.tab-content {
    margin: 1em;
    display: none;
}

#form_login .form-section, 
#form_register .form-section {
    display: flex;
    flex-direction: column;
}

#form_login .form-section > *, 
#form_register .form-section > *{
    flex: 0 0 auto;
    margin-top: 0.8em;
}

#form_contact {
    width: 80%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
	align-items: flex-start;
}

#form_contact > *:not(:last-child) {
    margin-top: 2em;
}

.contact_identity {
    display: flex;
}

.contact_identity > * {
    margin-right: 10px;
}

.contact_job p {
    margin: 2px 0 0 50px;
    cursor: pointer;
}

.contact_message {
	width: 100%;
}

.contact_message > * {
    display: block;
    width: 90%;
    margin: 8px 0;
}

.contact_message textarea {
    padding: 2px;
}

.form-input {
    transition: border-bottom-color 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid #276e18;
}

.form-input_wrapper {
    position: relative;
    margin-bottom: 15px;
}

.form-input_wrapper::after {
    position: absolute;
    top: 120%;
    left: 0;
    font-size: 11px;
    font-weight: bold;
    color: #c00;
    content: "";
}

.form-input:focus {
    background-color: transparent;
    border-bottom-color: #369821;
}

.form-input_wrapper.invalid .form-input {
    border-bottom-color: #c00;
}

.form-input_wrapper.invalid::after {
    content: attr(invalid-info);
}

input[type="submit"],
a.btn-link {
    display: inline-block;
    color: white;
    background-color: #276e18;
    border-radius: 5px;
    margin-top: 1em;
    padding: .2em 1em;
}

input[type="submit"]:disabled {
    opacity: 0.2;
}

footer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: white;
    width: 100%;
}